@{
    ViewData["Title"] = "About";
}
<h1>WHO WE ARE</h1>

<p>
   A non-profit foundation ran by students at The University of Texas, 
   an overseeing advisory board consisting of industry professionals, 
   and corporate sponsors ranging from startups to Fortune 500 companies. 
   We are dedicated to serving the local Austin blockchain communities by 
   hosting events, incubating startups, and distributing resources. 
   Our members consist of undergraduates, graduates, alumni, professors, 
   and foundation members.
</p>
<div class="row">
    <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInLeft">
            <div class="icon">
                <i class="icon-tools2"></i>
            </div>
            <div class="title text-uppercase">
                <h4>Resources</h4>
            </div>
            <div class="desc">
                Interested in learning more about blockchain technology?
                Check out our list of resources in order to further your understanding
                of how this revolutionary technology can better our future.
                Our list of resources is always growing so be sure to check
                later to see what we've added. If you have any recommendations
                you can send them to info@ouremail
            </div>
            <p class="p-top-20"> </p>
            <a href="https://drive.google.com/drive/folders/1MDX1XEaOc2imVP2UiJ2qn1hijzKRSleN?usp=sharing">
                <button class="btn btn btn-small btn-dark-solid ">
                    Learn more
                </button>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInUp">
            <div class="icon">
                <i class="icon-arrows_slim_right"></i>
            </div>
            <div class="title text-uppercase">
                <h4>Student Membership</h4>
            </div>
            <div class="desc">
                Texas Blockchain's student membership consists of education, research,
                development, and more. Collaboration is crucial amongst students for UT to lead
                the way in distributed ledger technology.
                Since blockchain technology is such a multi-disciplinary industry we encourage
                all UT students wanting to get involved on campus to apply.
            </div>
            <p class="p-top-20"> </p>
            <a href="https://docs.google.com/forms/d/1m2crAvbcLJBKzmTFGSlmL6Ucp2M5ttutgqwDPt5Gc2Y/edit">
                <button class="btn btn-small btn-dark-solid ">
                    Apply here
                </button>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInRight">
            <div class="icon">
                <i class="icon-envelope"></i>
            </div>
            <div class="title text-uppercase">
                <h4>Foundation Membership</h4>
            </div>
            <div class="desc">
                Texas Blockchain Foundation is always seeking new members in order to better the blockchain community
                at The University of Texas as well as in Austin. Membership is open to all individuals or organizations
                across the world interested in giving back to student start ups, collaborating with students, or innovating
                amongst students.
            </div>
            <p class="p-top-20"> </p>
            <!--- <a href="join.html"> --->
            <a href="https://docs.google.com/presentation/d/1nq9exdzGsFQrIvuJXtWGO8DLssdGtnRDiMjLwMzQymk/edit?usp=sharing">
                <button class="btn btn-small btn-dark-solid ">
                    Find out more
                </button>
            </a>
        </div>
    </div>
