@{
    ViewData["Title"] = "Incubator";
}
<div align ="center">
    <h1>
        OUR INCUBATOR AT THE BLACKSTONE LAUNCHPAD
    </h1>
    <p>
        Located at the Flawn Academic Center, our inucator aims to provide blockchain based startups with the necessary 
        tools they need to grow and succeed. Texas Blockchain Foundation aims to be the hub of blockchain and 
        cryptoeconomic entrepreneurship for the Austin community. We expect to do this by creating a network of 
        multi-disciplinary professionals that all collaborate to become innovators in the blockchain space. If you have 
        a startup idea and are interested in being incubated by Texas Blockchain, please fill out the application 
        request form below. We will review your submission promptly.
    </p>
</div>