@{
    ViewData["Title"] = "Mission";
}
<div align ="center">
    <h1>
        OUR MISSION
    </h1>
    <p>
        Texas Blockchain aims to empower students to learn about and develop distributed technology solutions and 
        acquire valuable skills through education, research projects, and working hands on with the community. 
        Premised on the idea that universities are a hub for visionary ideas and cutting-edge thoughts, Texas 
        Blockchain has set out to bring together an extraordinary group of individuals from the University of Texas at 
        Austin to learn, discuss and develop what we see as one of the most disruptive technologies of the future. 
        By positioning ourselves as the bridge between academia and industry, Texas Blockchain will allow students and 
        large players in the corporate sector to come together and develop the next transformative, cutting-edge ideas 
        of the 21st century.
    </p>
</div>

